
    
<div class="container">
    <div class="p-5 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 mb-4 fw-bold">Hi, I'm Yilun!</h1>
        <p class="col-md-8 fs-4 lead">I spent 10+ years building digital products and decision support systems for various automotive retailers (e.g. Carvana, Clutch) and an EV startup (Rivian).</p>

        <p class="col-md-8 fs-4 lead">I publish interactive dashboards here on China EV Hub to help people explore developments and progress in the Chinese EV industry.</p>

        <a href="https://twitter.com/yilunzh" class="btn btn-primary btn-lg my-2">Follow me on Twitter</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 rounded-3 dark-bg">
          <h2>Why</h2>
          </br>
          <p>The EV industry is changing quickly. The Chinese market is evolving even faster. It's sometimes difficult to keep up with these changes. The mainstream media also portrays these developments through a very colored lens.</p>

          <p>That's why I created China EV Hub, because I believe a place should exist where people can freely explore data and come to their own conclusions, not just consume narratives created by others.</p>
<!--           <button class="btn btn-light" type="button">Example button</button> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Connect</h2>
        </br>
          <p>China EV Hub is my passion project, and it came out of me wanting to share evidence-based observations about the EV industry more broadly and connect with others to have healthy debates. </p> 
          <p>From time to time, I also take on consulting or partnerships arrangements for interesting projects. Would love to hear from you!</p>
          <a href="https://us6.list-manage.com/contact-form?u=412fd75d8d6a30308dbf0752d&form_id=f772b7de0044f0c68e4710e77278eaf3" class="btn btn-outline-secondary">Reach out</a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
    </br>
    </footer>
  </div>
</div>


  
